body {
  padding: 90px 20px;
}

.nav-link {
  cursor: pointer;
}

.search-form {
  .form-group {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;

    @media (min-width: 992px) {
      width: 50%;
    }
  }

  .search-input {
    flex: 1;
    margin-right: 10px;
  }
}

.repos-list--empty {
  margin: 20px auto;
  font-size: 16px;
  text-align: center;
}

.repos-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.repo-card {
  display: block;
  width: 100%;
  margin-bottom: 2%;
  padding: 20px 15px;
  border: 1px solid #ddd;
  border-radius: 4px;

  @media (min-width: 992px) {
    display: flex;
    width: 32%;
    flex-direction: column;
  }

  &__header {
    flex-grow: 1;
  }

  &__title {
    margin: 0 0 10px;
  }

  .info-star,
  .info-author,
  .info-tags {
    display: inline-block;
    margin-right: 10px;
  }

  .info-tags span {
    margin-right: 2px;
  }

  .info-tags__list {
    display: inline-block;
    margin-left: 5px;
    padding: 0;
    list-style: none;

    &-item {
      display: inline-block;
      margin-right: 3px;

      &:after {
        display: inline-block;
        content: ", ";
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }
}

.pager {
  margin-left: 0;
  margin-bottom: 18px;
  list-style: none;
  text-align: center;
  *zoom: 1;

  &:before,
  &:after {
    display: table;
    content: "";
  }

  &:after {
    clear: both;
  }

  li {
    display: inline-block;
  }

  a {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;

    &:hover {
      text-decoration: none;
      background-color: #f5f5f5;
    }
  }

  .previous a {
    margin-right: 10px;
  }

  .disabled a,
  .disabled a:hover {
    color: #999;
    background-color: #fff;
    cursor: default;
    pointer-events: none;
  }
}

.detail-btn {
  float: right;
}

.detail-view {
  max-width: 100%;
  height: 400px;
  padding-right: 15px;
  overflow-x: hidden;
  overflow-y: auto;

  .detail-description {
    word-break: break-all;
  }

  .detail-tags__remove {
    margin-left: 4px;
    color: #a4e8d1;
    transition: all .2s ease;
    cursor: pointer;

    &:hover {
      color: #82b9a7;
      text-decoration: none;
    }
  }
}

.detail-tag {
  display: inline-block;
  margin: 0 5px 5px 0;
}

.tag-form__tags {
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);

  .has-error & {
    border: 1px solid #a94442;
  }

  &.react-tagsinput--focused {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075),
      0 0 8px rgba(102, 175, 233, .6);
    border-color: #66afe9;
    outline: 0;
  }

  .react-tagsinput-tag,
  .react-tagsinput-input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

.random-tags {
  margin: 15px 0;
}

.random-tags__tag {
  display: inline-block;
  margin: 0 5px 5px 0;
}
